@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding: 20px;
  background-color: #f5f5f5 ;
}


.nav-main {
  background:rgba(246, 201, 37, 0.5);
  height: 73px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: blur(4.5px);
  /* margin-top: -200px; */
  top:0;
}



button {
  transition: all 0.3s ease;
}

button:active {
  transform: scale(0.9);
}

button:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* Logo button design  */
.nav-main .btn-logo {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 125px;
  height: 30px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 10px;
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  background-color: #ce4027;
  cursor: pointer;
  color: #ffe588;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

/* smaller wrapper div of search,explore and my_plate button */
.nav-main .nav-mini {
  display: flex;
  justify-content: center;
  background:rgba(239, 223, 161, 0.1);
}

/* Home button design */
.nav-main .nav-mini .btn-inUse {
  width: 115px;
  height: 30px;
  border-radius: 90px;
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  background-color: #ce4027;
  color: #ffe588;
  cursor: pointer;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

/* Search , Explore and My_Plate button design */
.nav-main .nav-mini .btn-notInUse {
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;

  width: 130px;
  height: 40px;
  border-radius: 90px;
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  font-family: "Aktiv Grotesk", "Roboto";
  margin-left: 60px;
  border: none;
  background-color:rgba(230, 220, 185, 0.09);
  cursor: pointer;
  align-items: flex-start;
  padding: 0px;
}


.nav-main .signInUp{
  display: flex;
  justify-content: center;
  background:rgba(239, 223, 161, 0.1);
}

/* Sign in and Sign UP button design*/
.btn-signUp {
  margin-top: 13px;
  margin-right: 10px;
  width: 100px;
  height: 25px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  background-color: #0d5d56;
  color: #e7e2e2fe;
  cursor: pointer;
  border: 1px solid #facf33;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

.nav-main .signInUp .btn-logIn{
  margin-top: 13px;
  margin-right: 8px;
  width: 100px;
  height: 25px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 38px;
  background-color:rgba(230, 220, 185, 0.09);
  color: #0d5d56;
  cursor: pointer;
  /* border: 1px solid #facf33; */
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

.btn-notInUse:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  background-color: #ce4027;
}


.categoryHead{
  font-family: "Roboto";
  font-size:45px;
  font-weight: 500;
  margin-top: 100px;
  margin-left:150px;
} 


/*Styling the cards for vrtical scrolling */
.movements {
  grid-row: 2 / span 3;
  width:1450px;
  /* background-color: #0d5d56; */
  overflow: auto;
  margin-top: 40px;
  height:500px;
  scroll-behavior: smooth;
  margin-left: 100px;
}


.foodOrderDetails{
  display: flex;
  justify-content: space-between;
  width:1400px;
  margin-left:20px;
  margin-bottom: 20px;
 
}

.movements .foodOrderDetails .aboutFood{
   display: flex;
  justify-content: space-between;
   width:900px;
   background: #FEF0EC;
   border-radius: 20px;
}

.img-foodOrderImg{
  height: 130px;
  width: 200px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 11px;
  padding: none;
  
}

.movements .foodOrderDetails .food-Order{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: -250px;
}

.foodRating{
  font-size:15px;
  font-weight: 500;
  margin-left: -70px;
}

.foodPrice{
  font-size:20px;
  font-weight: 600;
  margin-left: -40px;
}

.priceColor{
  color:#0d5d56
}


.total-Price{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  margin-right: 40px;
  margin-top:20px;
}

.foodPriceTotal{
  color: #0d5d56;
}

/* food order operation add delete count */
.food-operation{
  display: flex;
  justify-content: center;
   margin-left:60px;
}

.btn-addFood, .btn-countFood, .btn-removeFood{
  margin-top:50px;
  height: 35px;
  width:45px;
  font-family: 'Roboto';
  font-weight: 400;
}

.btn-addFood{
  background-color: #0d5d56;
  border-radius:10px;
  color: #f5f5f5;
   font-size: 20px;
  font-weight: 500;
  cursor:pointer;
  border: none;
}

.btn-countFood{
  background-color: #f9f7ee;
  border: none;
  font-size: 20px;
  font-weight: 500;

}

.btn-removeFood{
  background-color: #0d5d56;
  border-radius:10px;
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 500;
  cursor:pointer;
  border:none;
}

.btn-orderTrash{
   display: flex;
   justify-content: center;
   align-items: center;
    margin-right: 230px;
    margin-left: 50px;
    height:50px;
   width:50px;
   background-color: #ce4027;
   border: none;
   cursor:pointer;
  border-radius: 10px;
    margin-top: 40px;
    color:#f5f5f5;
    cursor: pointer;

}

.btn-orderTrash i{
  font-size: 24px;
}

.btn-confirmOrder{
  margin-top:30px;
  margin-left: 650px;
  width: 190px;
  height: 30px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 10px;
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  background-color: #facf33;
  cursor: pointer;
  color: rgb(34, 32, 32);
   border: none;
}


/* preparing section styling starts */
section {
  position: relative;
  height: 430px;
  width: 1341px;
  display: flex;
  margin-left: 45px;
  margin-top: -10px;
  margin-bottom: 10px;
  align-items: center;
  /* background-color: #0d5d56; */
  padding-left:30px;
  padding-right:30px 
  
}

.swiper {
  width: 1550px;
  -webkit-overflow-scrolling: touch;
}

.card {
  position: relative;
  background: #fef0ec;
  border-radius: 20px;
  height: 350px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 80%;
  background: #fef0ec;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  z-index: 100;
}

section .card .image {
  height: 230px;
  width: 350px;
  border-radius: 20%;
  padding: none;
  padding-left:70px ;
  margin-top: 8px;
}

section .card .image img {
  height: 73%;
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid #fff;
}

.card .foodDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -55px;
}


.fName{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 28px;
   font-weight: 600;
}

.fRating{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 21px;
  font-weight: 400;
}

.fPrice{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 24px;
   font-weight: 600;
}

.card button {
  width: 200px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

.card .button button {
  background-color: #CBF2CE;
  outline: none;
  border: none;
  color: rgb(53, 48, 48);
  padding: 8px 22px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination {
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #ce4027;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #4a4444;
  transition: all 0.3s ease;
  margin:-35px
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #ce4027;
}

.footer{
  margin-top:100px;
  background-color: #facf33;
  width:100%;
  height:200px;
  width:1478px;
  padding:20px
}


.p-footer{
  font-size: 18px;
  font-weight:150;
  margin-top: 20px;
}