@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding: 20px;
}


.nav-main {
  background-color: #facf33;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.btn {
  transition: all 0.3s ease;
}

.btn:active {
  transform: scale(0.9);
}

.btn:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* Logo button design  */
.btn-logo {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 125px;
  height: 30px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 10px;
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  background-color: #ce4027;
  cursor: pointer;
  color: #ffe588;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

/* smaller wrapper div of search,explore and my_plate button */
.nav-mini {
  display: flex;
  justify-content: center;
  background-color: #facf33;
}

/* Home button design */
.btn-home {
  width: 85px;
  height: 30px;
  border-radius: 90px;
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  background-color: #ce4027;
  color: #ffe588;
  cursor: pointer;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

/* Search , Explore and My_Plate button design */
.btn-notInUse {
  font-family: "Aktiv Grotesk", "Roboto";
  font-style: bold;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;

  width: 130px;
  height: 40px;
  border-radius: 90px;
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 15px;
  font-family: "Aktiv Grotesk", "Roboto";
  margin-left: 60px;
  /* margin-top: 12px; */
  border: none;
  background-color: #facf33;
  cursor: pointer;
  align-items: flex-start;
  padding: 0px;
}

/* Sign in and Sign UP button design*/
.btn-sign {
  margin-top: 8px;
  margin-right: 20px;
  width: 223px;
  height: 26px;
  border-radius: 40px;
  border: 1px solid;
  padding-top: 3px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  background-color: #0d5d56;
  color: #e7e2e2fe;
  cursor: pointer;
  border: 1px solid #facf33;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.25);
}

.btn-notInUse:hover {
  transform: translateY(-5px);
  transition: 0.3s;
  background-color: #ce4027;
}

/* Search css */
.wrapper {
  margin-top: 35px;
}

#search-container {
  width: 1500px;
  height: 25px;
  background-color: white;
  border-radius: 30px;
  border: 1.5px solid #0D5D56;
  display: flex;
  align-items: center;
  margin-top: 74px;
  margin-left: 21px;
  padding: 20px;
}

#search-container .search-icon {
  font-size: 30px;
  color: #0D5D56;
}

#search-container input {
  flex: 1;
  height: 44px;
  border: none;
  outline: none;
  /* background-color: green; */
  font-size: 18px;
  padding-left: 12px;
  margin-left: 9px;
  margin-right: 21px;
}

#search-container input:focus {
  border-bottom-color: #ce4027;
}

#search-container button {
  padding: 1em 5em;
  background-color: #ce4027;
  color: white;
  border-radius: 14px;
  margin-top: -0.5em;
}

#search-container button:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  background-color: #0D5D56;
}

/* Search css end */

.result {
  /* text-align: center; */
}

.result .h-result {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 600;
  font-weight: 5;
  margin-top: 19px;
  /* text-align: center; */
  margin-left: 25px;
}
.card-content{
  display:flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
.card {
  width: 15%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #F7E08A;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
}

.card:hover  {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.09);
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card .foodDetails {
  font-family: "Aktiv Grotesk", "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 22px;
  font-weight: 600;
}

.card .foodDetails .green{
  color:#0D5D56;
}

.card .foodDetails .fName {
  font-size: 28px;
}

.card .foodDetails .fRating {
  font-size: 21px;
  font-weight: 400;
}

.card .foodDetails .fName {
  font-size: 24px;
}


.card button {
  width: 200px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
}

.card .button button {
  background-color: #ce4027;
  outline: none;
  border: none;
  color: #ede4e4;
  padding: 8px 22px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
}


/* .result .h-result{
  font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 600;
    font-weight: 5;
    margin-top: 34px;
    margin-left: 25px;
}


.result .content {
  position: relative;
  height: 430px;
  width: 1381px;
  display: flex;
  margin-left: 45px;
  margin-top: -20px;
  margin-bottom: 10px;
  align-items: center;
  /* background-color: #0d5d56; */
/* padding-left:30px;
  padding-right:30px 
  
}

.result .card {
  position: relative;
  background: #fef0ec;
  border-radius: 20px;
  height: 350px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}

.result .card::before {
  content: "";
  position: absolute;
  height: 50%;
  width: 80%;
  background: #fef0ec;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  z-index: 100;
}

.result .card .image {
  height: 230px;
  width: 350px;
  border-radius: 20%;
  padding: none;
  padding-left:70px ;
  margin-top: 8px;
}

.result .card .image img {
  height: 73%;
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid #fff;
}

.card .foodDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -55px;
}


.fName{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 28px;
   font-weight: 600;
}

.fRating{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 21px;
  font-weight: 400;
}

.fPrice{
  font-family: "Aktiv Grotesk", "Roboto";
  font-size: 24px;
   font-weight: 600;
} */
